button{
    background-color: rgb(49, 107, 157);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(205, 119, 119);
    color: rgb(234, 166, 124);
    box-shadow: 5px 5px 2px;
    text-align: center;
}